* {
  margin: 0;
  padding: 0;
}

main {
  margin: 100px auto;
  width: 300px;
}

li {
  padding: 5px 0;
}


[href] {
  color: purple;
}

[href="#internal"] {
  color: green;
}

/* 需要能有单独的一个单词匹配 */
[href~="http"] {
  color: yellow;
}

[href^="http"] {
  background-color: grey;
}

[href$=".org"] {
  color: white;
}

[href*="#in"] {
  background-color: pink;
}

[href*='#in'i] {
  text-decoration: initial;
}

[name|="no"] {
  color: red;
}

p:nth-of-type(2n + 1) {
  color: red;
}

/* content :nth-child(2n+1 of p) {
  color: red;
} */

p:nth-of-type(2n) {
  color: blue;
}

p:nth-of-type(1) {
  border: 1px solid black;
}

p.fancy:nth-of-type(2n + 1) {
  background-color: pink;
}

:nth-child(2n+1 of p.fancy) {
  text-decoration: underline;
}
