* {
  margin: 0;
  padding: 0;
}

/* main {
  margin: 100px auto;
  width: 500px;
} */

li {
  padding: 5px 0;
}


p:first-child {
  color: purple;
}

div:only-child {}

content {
  width: 500px;
}

content:only-child {
  border: 1px solid purple;
}

/* 未访问链接 */
a:link {
  color: blue;
}

/* 已访问链接 */
a:visited {
  color: purple;
}

/* 用户鼠标悬停 */
a:hover {
  background-color: yellow;
}

/* 激活链接 */
a:active {
  color: red;
}

/* 选中的文本是红色背景，金黄色的字体 */
::selection {
  color: gold;
  background-color: red;
}

/*选中的是蓝色背景，白色的字体的段落*/
p::selection {
  color: white;
  background-color: blue;
}

:is(h1, h2:invalid-pseudo, h3) {
  color: red;
}

main :where(h2):hover {
  color: purple;
}

h1:has(+ h2) {
  margin-bottom: 2em;
}

/*
h2:invalid-pseudo {
  color: red;
}

h3 {
  color: red;
} */

:root {
  --main-bg-color: 10px;
}

h1 {
  border: var(--main-bg-color) red solid;
}

.container {
  height: 100vh;
}

.left {
  float: left;
  margin-left: -100%;
  width: 100px;
  height: 100%;
  background-color: antiquewhite;
}

.main-wrap {
  float: left;
  width: 100%;
  height: 100%;
}

.main {
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  margin-left: 100px;
  margin-right: 200px;
  background-color: brown;
  border: 4px solid gold;
}

.right {
  float: left;
  margin-left: -200px;
  width: 200px;
  height: 100%;
  background-color: aquamarine;
}
